node_modules
.pnpm-store
.next
out
*.log
.env*
.vercel
.playwright-cache
coverage
storybook-static
.DS_Store

# Contentlayer
.contentlayer
.next-turbo

# Playwright
playwright-report
blob-report

# PWA
public/sw.js
public/workbox-*.js
public/worker-*.js
