@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 28 33% 98%;
  --foreground: 322 21% 14%;
  --card: 0 0% 100%;
  --card-foreground: 322 21% 14%;
  --primary: 339 73% 58%;
  --primary-foreground: 0 0% 100%;
  --muted: 20 24% 94%;
  --muted-foreground: 325 10% 38%;
  --border: 330 21% 87%;
}

.dark {
  --background: 273 28% 10%;
  --foreground: 320 24% 93%;
  --card: 273 24% 14%;
  --card-foreground: 320 24% 93%;
  --primary: 334 70% 64%;
  --primary-foreground: 273 28% 10%;
  --muted: 274 18% 20%;
  --muted-foreground: 322 10% 70%;
  --border: 274 18% 28%;
}

body {
  min-height: 100vh;
}
